@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Resets */

    * {

        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Roboto', sans-serif;
    }

    html, body {

        margin: 0;
        height: 100vh;
        overflow: hidden;
    }

/* End Resets */

/* Globals */

    main {

        width: 100vw;
        height: 100vh;
        margin: 0 auto;
    }

    header {

        height: 10vh;
        box-shadow: 0px 15px 10px -15px #111;
        background-color: #ef233c;
    }

    nav {

        height: 100%;
    }

    a {

        text-decoration: none;
    }

    .button {
        background-color: #FFFFFF;
        border: 1px solid #222222;
        border-radius: 8px;
        box-sizing: border-box;
        color: #222222;
        cursor: pointer;
        display: inline-block;
        font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
        font-size: 16px;
        font-weight: 600;
        line-height: 20px;
        margin: 0;
        outline: none;
        padding: 13px 23px;
        position: relative;
        text-align: center;
        text-decoration: none;
        touch-action: manipulation;
        transition: box-shadow .2s,-ms-transform .1s,-webkit-transform .1s,transform .1s;
        user-select: none;
        -webkit-user-select: none;
        width: auto;
    }

    .button:focus-visible {
        box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
        transition: box-shadow .2s;
    }

    .button:active {
        background-color: #F7F7F7;
        border-color: #000000;
        transform: scale(.96);
    }

    .button:disabled {
        border-color: #DDDDDD;
        color: #DDDDDD;
        cursor: not-allowed;
        opacity: 1;
    }
    
    .input {

        box-shadow: inset #ef233c 0 0 0 2px;
        border: 0;
        background: #EDF2F4;
        appearance: none;
        width: 100%;
        position: relative;
        border-radius: 10px;
        padding: 9px 12px;
        line-height: 1.4;
        color: #2B2D42;
        font-size: 16px;
        font-weight: 400;
        height: 40px;
        transition: all .2s ease;
        margin-bottom: .5rem;
    }

    .input:hover{

        box-shadow: 0 0 0 0 #EDF2F4 inset, #ef233c 0 0 0 2px;
    }

    .input:focus{

        background: #EDF2F4;
        outline: 0;
        box-shadow: 0 0 0 0 #EDF2F4 inset, #ef233c 0 0 0 3px;
    }

/* End Globals */

/* Main */

    .main {

        height: 20vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        background-color: #8D99AE;
    }

    .img-container {

        display: flex;
        height: 90%;
        justify-content: center;
    }

    .large {

        align-items: center;
        height: 50%;
    }

    .container {

        height: 100%;
        display: flex;
        flex-direction: column;
    }

    .top {

        height: 40%;
        justify-content: center;
    }

    .mid {

        height: 50%;
    }

    .small {

        filter: brightness(0) saturate(0) invert(14%) sepia(7%) saturate(3072%) hue-rotate(197deg) brightness(99%) contrast(89%);
    }

    #save-link {

        width: 100%;
        padding: 1rem;
        background-color: #ef233c;
        color: white;
        margin-top: 2rem;
        text-align: center;
        border-radius: 10px;
    }

/* End Main */

/* Responsive */

    @media screen and (min-width: 700px) {

        .main {

            flex-direction: initial;
        }

        .bottom {

            justify-content: center;
        }
    }

/* End responsive */